<div>
	<div><span><i>Nom : </i></span><%= music_label.name %></div>
	<div><span><i>Distributeur : </i></span><%= music_label.distributor %></div>
	<div><span><i>Site web : </i></span><%= music_label.website %></div>
</div>