<tr>
  <td class="entry-id"><%= failure.entry.id %></td>
  <td><%= failure.entry.source_id %></td>
  <td><%= failure.description %></td>
  <td><%= l failure.created_at, :format => :short %></td>
</tr>