<%= render 'header', source_file: @source_file %>

<div class="row-fluid">
	<div class="span6">
		<%= render 'progress', source_file: @source_file %>
	</div>
	<div class="span6">
		<%= render 'commands', source_file: @source_file %>
	</div>
</div>