# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*.log

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
*.sublime-workspace
*.sublime-project
*.dat
*.sqlite3-journal
public/system/albums/covers/

#Ignore files compiled for production
/public/assets

#Linux bundler stubs
bundler_stubs/

#OS dependent files
Gemfile
Gemfile.lock
Guardfile
spec/spec_helper.rb
.rspec
config/initializers/recaptcha.rb