# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
db/backups

# Ignore all logfiles and tempfiles.
/log/*.log*
/tmp
*.log
public/covers

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
*.sublime-workspace
*.sublime-project
*.dat
*.sqlite3-journal

#Ignore files compiled for production
/public/assets

#Linux bundler stubs
bundler_stubs/

#OS dependent files
Gemfile
Gemfile.lock
Guardfile
spec/spec_helper.rb
.rspec
config/initializers/recaptcha.rb
config/environments/development.rb
config/database.yml
db/schema.rb

# git rm --ignore-unmatch -f Gemfile Gemfile.lock Guardfile spec/spec_helper.rb .rspec config/initializers/recaptcha.rb config/environments/development.rb config/database.yml


#ignore compiled coffeescripts
*.js.js

#sensible data
.*env
/execs/*.sh
/db/fixtures/*.rb