<div id="artists_association">
	<%= render :partial => 'artists/smallblock', :collection => product.artists, :as => :artist, :locals => {product_name: product_name} %>
</div>
<div class="row controls-bar">
	<div class="span5">
		<div class="control-group string" style="margin-top: 10px;">
			<label class="string control-label"><%= t 'artists.screens.artists_for_products.add_artist_label' %></label>
			<div class="controls">
				<%= text_field_tag 'artist_typeahead', nil, :size => 40, :placeholder => t('defaults.search_terms'), class: 'string skipval' %>
			</div>
		</div>
	</div>
	<div class="span2">
		<button type="button" id="cancel_artists_deletions" class="btn" disabled="true"><%= t 'artists.screens.artists_for_products.cancel_all_deletions' %></button>
	</div>
</div>