<div style="margin-bottom:20px;">
	<%= f.collection_check_boxes( :practice_ids, Practice.all, :id, :i18n_kind, {:class => 'checkbox'} ) { |input| input.label(:class => 'checkbox inline', :style => 'margin-right: 25px;') { input.check_box + input.text } } %>
</div>
<%= f.input :name, required: true %>
<%= f.input :countries, required: true, :as => :multiple_countries %>
<div style='text-align: center;'>
<%= f.input :biography, :wrapper => :bstp_lonely_in, :as => :text, input_html: {class: 'span6',  rows: '8'}, :label_html => { :style => 'text-align: left;' } %>
</div>