<div style="margin-bottom:20px;">
	<%= f.association( :practices, :as => :check_boxes, :label_method => :i18n_kind, :value_method => :id, label: false, wrapper_html: {:class => 'inline-check-boxes'}) %>
</div>
<%= f.input :name, required: true %>
<%= f.input :countries, required: true, :as => :multiple_countries %>
<div style='text-align: center;'>
<%= f.input :biography, :wrapper => :bstp_lonely_in, :as => :text, input_html: {class: 'span6',  rows: '8'}, :label_html => { :style => 'text-align: left;' } %>
</div>