<% if object.errors.any? %>
  
  <div class="alert alert-warning" style="float: left; margin-left: 20px;">
    <h3><%= t "defaults.errors_main", error_count: t("defaults.errors_count", count: object.errors.count), entity: t("defaults.#{object.class.to_s.underscore.humanize.downcase}") %></h3>
    <p><%= t "defaults.errors_help" %></p>
  </div>
  <div style="clear: left;"></div>

  <% if user_is_admin? %>
  	<ul>
  	<% object.errors.full_messages.each do |msg| %>
  		<li><%= msg %></li>
  	<% end %>
  	</ul>
  <% end %>

<% end %>