<%= render 'show', album: @album %>

<div id='reviews-list'>
	<%= render @album.reviews.includes(:translations) %>
</div>

<% if can? :create, Review %>
	<br /><br />
	<%= button_to t('.add_review'), new_review_path(product_id: @album.id, product_type: 'Album'), :class => 'btn-primary', remote: true, :method => :get, :form => {id: 'add_review'} %>
<% end %>
