<p><%= t "mails.devise.confirmation.welcome", :pseudo => @resource.pseudo %></p>

<p>><%= t "mails.devise.confirmation.text" %></p>

<p><%= link_to t("mails.devise.confirmation.link_title"), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
