<p><%= t "mails.devise.reset_password.hello", :pseudo => @resource.pseudo %></p>

<p><%= t "mails.devise.reset_password.text" %></p>

<p><%= link_to t("mails.devise.reset_password.link_title").html_safe, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<%= t("mails.devise.reset_password.instructions").html_safe %>