<br />
<div class="hero-unit">
	<%= display_event @contribution %>
	<h1 style="display: inline-block;"><%= @contribution.title %></h1>
	<br /><br />
	<p>
		<%= t ".summary_#{@contribution.event}", object_kind: translate_object_kind(@contribution.approvable_type), modified_on: l(@contribution.created_at, :format => :short), modified_by: @contribution.creator_pseudo %>
	</p>
</div>
<hr>