<footer class="footer">
	<% unless ENV["SITE_VERSION"].empty? || !user_is_admin? %>
  	<small><%= t(".site_version", version: ENV["SITE_VERSION"]).html_safe %></small>
  <% end %>
  <small>Copyright 2012</small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>