<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Metal Impact", root_path, id: "logo" %>
      <nav id="menu"><%= render 'layouts/menu' %></nav>
    </div>
    <div class="subnav">
      <ul class="nav nav-pills">
        <li><%= link_to "Albums", albums_path %></li>
      </ul>
    </div>
  </div>
</header>
<!-- content div for registration modal form -->
<div class="modal hide fade" style="display: none; " id="modal-container"></div>