<header class="navbar">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Metal Impact", root_path, id: "logo" %>
      <nav id="menu">
        <%= render 'layouts/menu' %>
      </nav>
    </div>
    <div class="subnav">
      <ul class="nav nav-pills">
        <li><%= link_to "Albums", albums_path %></li>
        <li><%= link_to "Artists", artists_path %></li>
      </ul>
    </div>
  </div>
</header>
<!-- content div for modals -->
<div class="modal hide fade" style="display: none; " id="modal-container"></div>
<div class="modal hide fade" style="display: none; " id="modal-image"></div>